/*
  phone - 600
  tab-port - 900
  tab-land - 1200 


*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-box: 0 2rem 6rem rgba(0,0,0,0.3); }

* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-grey-dark-2);
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  min-height: 100vh; }

.btn-link {
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  color: var(--color-primary);
  background-color: transparent;
  border-bottom: 2px solid currentColor;
  cursor: pointer; }
  .btn-link:hover {
    color: var(--color-grey-dark-1); }
  .btn-link:focus {
    outline: none;
    animation: pulsate 1s Infinite; }

.btn_footer {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  border-radius: 100px;
  color: #fff;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  cursor: pointer;
  position: relative; }
  .btn_footer_visible {
    display: inline-block;
    padding: 2rem 8rem;
    transition: all .3s; }
  .btn_footer_invisible {
    display: inline-block;
    position: absolute;
    visibility: hidden;
    padding: 2rem 0;
    height: 100%;
    width: 100%;
    top: -100%;
    left: 0;
    transition: all .3s; }
  .btn_footer:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark)); }
  .btn_footer:hover .btn_footer_invisible {
    top: 0;
    visibility: visible; }
  .btn_footer:hover .btn_footer_visible {
    transform: translateY(-100%); }

@keyframes pulsate {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  100% {
    transform: scale(1); } }

.description {
  display: flex;
  padding: 4rem;
  background-color: var(--color-grey-light-3);
  font-size: 1.2rem;
  border-bottom: 1px solid var(--color-grey-light-4); }
  @media only screen and (max-width: 62.5em) {
    .description {
      flex-direction: column;
      padding: 2.5rem; } }
  .description_detail {
    flex: 0 0 60%;
    background-color: #fff;
    padding: 3rem;
    border-radius: 3px;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3); }
    @media only screen and (max-width: 62.5em) {
      .description_detail {
        margin-bottom: 2.5rem; } }
    .description_detail .text:not(:last-of-type) {
      margin-bottom: 3rem; }
    .description_detail .amenities_list {
      display: flex;
      margin: 3rem 0;
      padding: 3rem 0;
      list-style: none;
      flex-wrap: wrap;
      border-bottom: 1px solid var(--color-grey-light-4);
      border-top: 1px solid var(--color-grey-light-4); }
      .description_detail .amenities_list_item {
        flex: 0 0 50%; }
        .description_detail .amenities_list_item::before {
          content: "";
          display: inline-block;
          height: 1rem;
          width: 1rem;
          margin-right: 1rem;
          background-color: var(--color-primary);
          -webkit-mask-image: url(../../img/chevron-thin-right.svg);
          -webkit-mask-size: cover;
          mask-image: url(../../img/chevron-thin-right.svg);
          mask-size: cover; }
    .description_detail .recommendations {
      display: flex;
      justify-content: space-between;
      margin-right: 2rem; }
      .description_detail .recommendations_title {
        flex: 0 0 60%; }
      .description_detail .recommendations_guests_guest {
        height: 4rem;
        width: 4rem;
        margin-right: -2rem;
        border-radius: 100px;
        box-sizing: border-box;
        border: 3px solid #fff; }
  .description_user_reviews {
    margin-left: 4rem;
    flex: 1; }
    @media only screen and (max-width: 62.5em) {
      .description_user_reviews {
        margin-left: 0; } }
    .description_user_reviews .user_review {
      display: flex;
      flex-direction: column;
      padding: 3rem;
      border-radius: 3px;
      box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
      background-color: #fff;
      margin-bottom: 4rem;
      position: relative;
      z-index: 100; }
      @media only screen and (max-width: 62.5em) {
        .description_user_reviews .user_review {
          margin-bottom: 2.5rem; } }
      .description_user_reviews .user_review::before {
        content: "\201c";
        position: absolute;
        top: 8.4rem;
        left: -0.6rem;
        font-size: 22rem;
        line-height: 0;
        font-family: sans-serif;
        color: var(--color-grey-light-3);
        z-index: -99; }
      .description_user_reviews .user_review_rating {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 3rem; }
        .description_user_reviews .user_review_rating_image {
          height: 4rem;
          width: 4rem;
          border-radius: 100px; }
        .description_user_reviews .user_review_rating_detail {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-left: 1rem;
          margin-right: auto; }
          .description_user_reviews .user_review_rating_detail span {
            display: block; }
          .description_user_reviews .user_review_rating_detail_title {
            font-weight: 700; }
        .description_user_reviews .user_review_rating_number {
          color: var(--color-primary);
          font-size: 2.5rem;
          font-weight: 600; }
  .description .linkAll {
    display: flex;
    align-items: center;
    justify-content: center; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem; }
  .header_logo {
    height: 3.5rem;
    margin-left: 2.5rem; }
  .header_search_box {
    flex: 0 0 40%;
    display: flex;
    align-items: center; }
    .header_search_box_input {
      border: none;
      width: 90%;
      border-radius: 100px;
      font-size: 400;
      background-color: var(--color-grey-light-4);
      padding: .7rem 2rem;
      margin-right: -3.5rem;
      transition: all .2s; }
      .header_search_box_input:focus {
        outline: none;
        width: 100%; }
      .header_search_box_input::-webkit-input-placeholder {
        font-size: 1.2rem;
        color: var(--color-grey-dark-3); }
    .header_search_box_button {
      border: none;
      background-color: var(--color-grey-light-4);
      cursor: pointer;
      transition: all .2s;
      height: 1.75rem;
      width: 1.75rem; }
      .header_search_box_button_icon {
        height: 1.5rem;
        width: 1.5rem;
        fill: var(--color-grey-dark-2); }
      .header_search_box_button:active {
        transform: translateY(1px); }
  .header_user_nav {
    align-self: stretch;
    display: flex;
    align-items: center; }
    .header_user_nav > * {
      padding: 0 1rem;
      cursor: pointer;
      height: 100%; }
      .header_user_nav > *:hover {
        background-color: var(--color-grey-light-4); }
    .header_user_nav_box {
      display: flex;
      align-items: center;
      position: relative; }
      .header_user_nav_box_icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-1); }
      .header_user_nav_box_quantity {
        background-color: var(--color-primary);
        font-size: 0.8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        color: var(--color-grey-light-1);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 1.8rem;
        right: 0.2rem; }
    .header_user_nav_user {
      display: flex;
      justify-content: center;
      align-items: center; }
      .header_user_nav_user_image {
        height: 4rem;
        width: 4rem;
        border-radius: 100px; }
      .header_user_nav_user_title {
        margin-left: 1rem;
        font-size: 1.2rem; }

.home_footer {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  justify-content: center;
  align-items: center; }
  .home_footer_news {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 4rem; }
    @media only screen and (max-width: 43.75em) {
      .home_footer_news {
        font-size: 1.3rem; } }

.hotel-view-gallery {
  display: flex;
  border-bottom: 1px solid var(--color-grey-light-4); }
  .hotel-view-gallery-item-image {
    width: 100%;
    display: block; }

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .navigation_nav {
    margin-top: 4rem;
    list-style: none;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 62.5em) {
      .navigation_nav {
        margin-top: 0;
        flex-direction: row; } }
    .navigation_nav_item {
      display: flex;
      align-items: center;
      padding: 1.5rem 1.2rem;
      cursor: pointer;
      position: relative; }
      @media only screen and (max-width: 62.5em) {
        .navigation_nav_item {
          flex: 1; } }
      .navigation_nav_item:not(:last-child) {
        margin-bottom: 0.7rem; }
      .navigation_nav_item::before {
        content: "";
        background-color: var(--color-primary);
        width: 3px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleY(0);
        transition: transform .3s, width .2s .2s, background-color .1s; }
      .navigation_nav_item:hover::before, .navigation_nav_item_active::before {
        transform: scaleY(1);
        width: 100%; }
      .navigation_nav_item:active::before {
        background-color: var(--color-primary-light); }
      .navigation_nav_item_link {
        z-index: 99;
        margin-left: 1rem;
        cursor: pointer;
        display: flex;
        align-items: center; }
        .navigation_nav_item_link:link, .navigation_nav_item_link:visited {
          text-decoration: none;
          font-size: 1.2rem;
          color: var(--color-grey-light-3);
          text-transform: uppercase; }
        .navigation_nav_item_link_icon {
          height: 1.75rem;
          width: 1.75rem;
          fill: var(--color-grey-light-3);
          margin-right: 1rem; }
  .navigation_copyright {
    font-size: 1.2rem;
    color: var(--color-grey-light-3);
    text-align: center;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 62.5em) {
      .navigation_copyright {
        display: none; } }

.overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-4); }
  .overview-hotel-name {
    font-size: 2rem;
    font-weight: 700;
    color: va(--color-grey-light-4);
    text-transform: uppercase;
    padding: 1.5rem;
    letter-spacing: .1rem; }
    @media only screen and (max-width: 43.75em) {
      .overview-hotel-name {
        letter-spacing: 0;
        font-size: 1.6rem; } }
  .overview-rating {
    display: flex;
    align-items: center;
    margin-right: auto; }
    .overview-rating-star {
      height: 1.75rem;
      width: 1.75rem;
      fill: var(--color-primary); }
      @media only screen and (max-width: 43.75em) {
        .overview-rating-star {
          height: 1.5rem;
          width: 1.5rem; } }
  .overview-location {
    display: flex;
    align-items: center;
    margin-right: 2rem; }
    .overview-location-icon {
      height: 1.75rem;
      width: 1.75rem;
      fill: var(--color-primary); }
      @media only screen and (max-width: 43.75em) {
        .overview-location-icon {
          height: 1.5rem;
          width: 1.5rem; } }
  .overview-votes {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: var(--color-grey-light-3);
    background-color: var(--color-primary); }
    .overview-votes-average {
      font-size: 2.5rem; }
      @media only screen and (max-width: 43.75em) {
        .overview-votes-average {
          font-size: 1.75rem; } }
    .overview-votes-count {
      margin-top: .5rem;
      font-size: 1.2rem; }
      @media only screen and (max-width: 43.75em) {
        .overview-votes-count {
          font-size: 1rem; } }

.container {
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-3);
  box-shadow: var(--shadow-box); }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0; } }
  .container .header {
    background-color: var(--color-grey-light-2);
    height: 8rem;
    border-bottom: 1px solid var(--color-grey-light-4); }
  .container .content {
    display: flex; }
    @media only screen and (max-width: 62.5em) {
      .container .content {
        flex-direction: column; } }
    .container .content .navigation {
      background-color: var(--color-grey-dark-1);
      flex: 1; }
    .container .content .main {
      background-color: #fff;
      flex: 4; }
      @media only screen and (max-width: 62.5em) {
        .container .content .main {
          flex: 1; } }
