.u-align-center{text-align: center !important;}

.u-margin-bottom-big{
     margin-bottom:  8rem !important;
     @include respond(tab-port)
     {
        margin-bottom:  4.8rem !important;
     }
}
.u-margin-bottom-medium{ 
    margin-bottom:  4rem !important;
    @include respond(tab-port)
    {
       margin-bottom:  3.4rem !important;
    }
}
.u-margin-bottom-small{ 
    margin-bottom:  1.5rem !important;
    @include respond(tab-port)
    {
       margin-bottom:  0.9rem !important;
    }
}