.composition{   
    position: relative;

    @include respond(tab-port)
    {
        margin-bottom: 25rem;
    }

    &_photo{
        width:55%;
        @include respond(tab-port){
            width:35%;
        }
        box-shadow: 1rem 2rem 2rem rgba($color-black,.2);
        position:absolute;
        outline-offset:2rem;
        z-index:10;
        transition: all .2s;
        &--p1{
            top:-2rem;
            left:0;
            @include respond(tab-port){
                top:2rem;
                left:0;
            }
           
        }
        &--p2{
            top:2rem;
            right:0;        
            
        }

        &--p3{
            top:8rem;
            left:20%;
            @include respond(tab-port){
                left: 32%;
                top: 0rem;
            }
            
        }

        &:hover{
            outline: 2rem solid $color-primary;
            z-index:20;
            transform: scale(1.05);
        }
    }

    &:hover &_photo:not(:hover){
        transform: scale(.95);
    }

}