.feature-box{
    background-color: rgba($color-white,0.8);
    padding: 2.5rem;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: all .3s;  

    &_icon{
        font-size: 5rem;
        background: linear-gradient(to right, $color-primary-light,  $color-primary-dark);
        -webkit-background-clip: text;
        color: transparent;
        margin-bottom: .5rem;        
    }
    
    &:hover{
        transform: translateY(-1rem) scale(1.05);
    }
    
}