.container{
    max-width: 120rem;
    min-height:50rem;
    margin: 8rem auto;
    @media only screen and (max-width: 75em){
        margin:0;
    }    
    background-color: var(--color-grey-light-3);
    box-shadow: var(--shadow-box );

    .header{
        background-color: var(--color-grey-light-2);
        height: 8rem;
        border-bottom: 1px solid var(--color-grey-light-4);
    }
    .content{
        display:flex;

        @media only screen and (max-width: 62.5em){
           flex-direction: column;
        }  
        
        .navigation{
            background-color: var(--color-grey-dark-1);
            flex:1;        
        }

        .main{
            background-color: #fff;
            flex:4;  

            @media only screen and (max-width: 62.5em){
                flex:1;
             } 
          
        }

    }
}