.home_footer{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    justify-content: center;
    align-items: center;

    &_news{
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 400;
        margin-bottom: 4rem;
    }

   

}