.overview{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey-light-4);

    &-hotel-name{
        font-size:2rem;
        font-weight: 700;
        color:va(--color-grey-light-4);
        text-transform: uppercase;
        padding: 1.5rem;
        letter-spacing: .1rem;
        @media only screen and (max-width: 43.75em){
            letter-spacing: 0;
            font-size:1.6rem;
        }
        

    }

    &-rating{
        display: flex;
        align-items: center ;
        margin-right: auto;
        &-star{
            height:1.75rem;
            width:1.75rem;
            fill:var(--color-primary);

            @media only screen and (max-width: 43.75em){
                height:1.5rem;
                width:1.5rem;
            }
        }
    }

    &-location{
        display: flex;
        align-items: center ;
        margin-right: 2rem;
        &-icon{
            height:1.75rem;
            width:1.75rem;
            fill:var(--color-primary);
            @media only screen and (max-width: 43.75em){
                height:1.5rem;
                width:1.5rem;
            }
        }
    }

    &-votes{
        align-self: stretch;  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        color:var(--color-grey-light-3);
        background-color: var(--color-primary);

        &-average{
            font-size: 2.5rem;     
            @media only screen and (max-width: 43.75em){
                font-size: 1.75rem;     
            }     
        }
        &-count{
            margin-top: .5rem;
            font-size:1.2rem;
            @media only screen and (max-width: 43.75em){
                font-size: 1rem;     
            } 
            
        }
    }


}