.footer{
    background-color: $color-gray-dark-3;
    padding: 10rem 0;
    font-size: 1.4rem;

    &_logo_box{
        margin: 0 auto;
        text-align: center;

        &_logo{
            width: 15rem;
            height: auto;
        }
    }

    &_navigation{
        border-top: .1rem solid $color-gray;     
        padding-top: 1rem;
        display: inline-block;

        &_list{
            list-style: none;
              

            &_item{
                display: inline-block;                                       
                 
                &:not(:last-child){
                    margin-right: 1rem;
                }            
                
            }
        }
    }
    &_link{
        &:link,
        &:visited{
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 500;
            transition: all .3s;
            display: inline-block;
            transition: all .3s;
        }

        &:hover,
        &:active{
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
            transform: rotate(5deg) scale(1.2);
        }
    }

    &_copyright{
        color:$color-white;
        border-top: .1rem solid $color-gray;     
        padding-top: 1rem;
        width:80%;
        float:right;
    }   
}